Repository NTI-Gymnasieingenjor/frisorhemsida: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Html, Css, Tests

.gitlab-ci.yml:

stages:
  - tests
  - deploy

pages:
  image: python:3.8
  stage: deploy
  script:
  - mkdir .public
  - cp -r * .public
  - mv .public public
  artifacts:
    paths:
    - public
  only:
  - master

before_script:
  - pip install selenium

Html:
  image: joyzoursky/python-chromedriver:3.8
  stage: tests
  script:
    - cd tests
    - python3 html_validation.py
  only:
    changes:
      - public/*.html
      - tests/html_validation.py

Css:
  image: joyzoursky/python-chromedriver:3.8
  stage: tests
  script:
    - cd tests
    - python3 css_validation.py
  only:
    changes:
      - public/css/*.css
      - tests/css_validation.py

Tests:
  image: joyzoursky/python-chromedriver:3.8
  stage: tests
  script:
    - cd tests
    - python3 tests.py
  only:
    changes:
      - public/*.html
      - tests/website_tests.py

Add LICENSE
  LICENSE
Due: none

website tests created
  public/css/style.css
  public/css/styles.css
  public/index.html
  public/js/scripts.js
  tests/website_tests.py
Due: Html, Css, Tests

Changed name
  public/css/style.css
Due: Css

progress on building page with bootstrap tamplate
  public/css/style.css
  public/index.html
Due: Html, Css, Tests

Name change for tests to get it working in ci
  .gitlab-ci.yml
Due: none

added photos, title changed for new template, contact updated
  public/css/style.css
  public/images/bild1.jpg
  public/images/bild2.jpg
  public/images/bild3.jpg
  public/images/huvudbild.jpg
  public/images/salong_bild.jpg
  public/images/sax.png
  public/index.html
Due: Html, Css, Tests

Coding standard changed for html ,css and javascript
  README.md
Due: none

Javascript for zips
  public/index.html
  public/js/postnummer.js
  tests/website_tests.py
  tests/ziptry.py
Due: Html, Tests

Added opening hours and product list
  public/css/style.css
  public/index.html
Due: Html, Css, Tests

Changed some padding
  public/css/style.css
  public/index.html
Due: Html, Css, Tests

index push
  .gitignore
  public/index.html
  public/js/postnummer.js
Due: Html, Tests

index push
  public/index.html
Due: Html, Tests

Reworked responsivity, html validation errors fixed and updated tests
  .vscode/settings.json
  public/css/style.css
  public/index.html
  tests/website_tests.py
  tests/ziptry.py
Due: Html, Css, Tests

Update .gitignore
  .gitignore
Due: none

Deleted .vscode folder
  .vscode/settings.json
Due: none

Added Zipcode script
  public/index.html
  public/js/postnummer.js
Due: Html, Tests

Updated coding standard
  README.md
Due: none

Html valitation errors fixed
  public/index.html
Due: Html, Tests

tests fixed
  public/js/postnummer.js
  tests/debug.log
  tests/website_tests.py
Due: Tests

Shrinked zipcode input on mobile resolutions
  public/css/style.css
Due: Css

Delete debug.log
  tests/debug.log
Due: none

Update README.md
  README.md
Due: none
